<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.aconfig.diff.test">
    <application>
        <activity android:name="com.android.aconfig.diff.test.Base" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
